@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

body {
    background: rgb(70, 246, 178);
    background: radial-gradient(circle, rgba(70, 246, 178, 1) 0%, rgba(151, 251, 213, 1) 50%, rgba(93, 237, 227, 1) 100%);
    font-family: "Titillium Web", sans-serif;
    font-size: 1.23rem;
    display: flex;
    flex-direction: column;
}

h1,
section {
    background-color: #B4F0D9;
    margin: auto;
    width: 75%;
    padding: 1.875rem;
    box-shadow: 0 0 0rem 0 rgba(0, 0, 0, 0.2), 0 0.313rem 0.313rem 0 rgba(0, 0, 0, 0.2);
    justify-content: center;
}

h1 {
    border-radius: 1.25rem 1.25rem 0px 0px;
    text-align: center;
    box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.2);
}

a:visited {
    color: black;
}

a:hover,
a:focus {
    background-color: rgb(141, 178, 187);
    color: #333;
}

nav {
    display: flex;
    gap: 0.5rem;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

ul {

    list-style-type: none;
    background-color: #B4F0D9;
    display: flex;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    align-items: center;
    justify-content: space-evenly;
    width: 86%;
}

li a {
    text-decoration: none;
    padding: 0.625rem;
    transition: all 0.5s ease-out;
}

input {
    font-family: "Titillium Web", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 0.938rem;
    padding: 0.938rem;
    box-sizing: border-box;
    font-size: 0.875rem;
    box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.2), 0 2.5px 2.5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 0.313rem;
    outline: none;
}

button {
    padding: 0.600rem;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
    border-radius: 0.625rem;
    font-size: 1.125rem;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    color: black;
}

#userList {
    background-color: #B4F0D9;
    display: inline-block;
    margin-bottom: 1%;
    margin-top: 1%;
}

#fazPostagem {
    text-align: left;
}



#logout {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    align-items: center;
}

.sair {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.2rem;
    box-shadow: none;

}

@media only screen and (max-width: 600px) {
    #listaMenu {
        flex-direction: column;
    }

    section {
        font-size: 1rem;
    }


}