@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

body {
    background: rgb(70, 246, 178);
    background: radial-gradient(circle, rgba(70, 246, 178, 1) 0%, rgba(151, 251, 213, 1) 50%, rgba(93, 237, 227, 1) 100%);
    text-align: center;
    font-family: "Titillium Web", sans-serif;
}



input {
    font-family: "Titillium Web", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 0.938rem;
    padding: 0.938rem;
    box-sizing: border-box;
    font-size: 0.875rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 2.5px 2.5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 0.313rem;
    outline: none;
}

a, a:visited{
    text-decoration: none;
    color: black;
}

#login {
    position: relative;
    background: #B4F0D9;
    max-width: 22.5rem;
    margin: 6.25rem auto 6.25rem auto;
    padding: 1.55rem;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 1.875rem;
    font-size: 1.438rem;
}

#login button {
    padding: 0.600rem;
    margin-top: 5%;
    border-radius: 0.625rem;
    font-size: 1.125rem;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    width: 30%;
}

#mensagem{
    color: red;
    font: 0.9rem;
}





