#post_comments {
    margin-bottom: 1%;
}

.horario {
    display: inline;
    margin-right: 5%;
}

.local {
    display: inline;
    margin-top: 10%;
    margin-right: 10%;
}

#comentarios{
    text-align: center;
}
#comentarios p{
    font-size: 0.813rem;
    display: block;
}

@media only screen and (max-width: 600px) {
    .horario, .local{
        display: block;
    }
}