#post_comments{
    margin-bottom: 1%;
}
.horario{
    display: inline;
    margin-right: 5%;
}
.local{
    display: inline;
    margin-top: 10%;
    margin-right: 10%;
}

#comentarios{
    font-size: 13px;
}