body{
    margin: auto;
    margin-top: 100pxa;
    width: 80%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
input{
 margin: auto;
 width: 300px;
}

button{
    margin: auto;
    width: 100px;
}

#listaMenu{
    list-style-type: none;
}